
*{
    box-sizing: border-box;
}

:root {
    --btnClr: #7973de;
}

body {
    background-color: #efe3ff;
}


form {
    margin-top: 50px;
}

form > * {
margin: 20px;
}

fieldset{
    border: 1px solid black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.input-group{
    width: 80%;
}

#entry{
    width:80%;
}

